<div class="left-menu-container">
  <div class="user-section">
      <img src="https://via.placeholder.com/72x72" alt="User Image">
      <div class="user-details">
          <span class="user-name">Sergio Riveros</span>
          <div class="user-country">
              <div class="country-icon"></div>
              <span>Colombia</span>
          </div>
      </div>
      <div class="notification-icon"></div>
  </div>
  <div class="menu-options">
      <div class="option">Notificaciones</div>
      <div class="option">Comentarios</div>
      <div class="option">Politica de privacidad</div>
      <div class="option">Salir</div>
  </div>
  <div class="gradient-section"></div>
  <div class="signin-signup-section">
    <div class="signin-button"
         [style.background-color]="activeButton === 'signin' ? darkBlue : accentColor"
         (click)="setActiveButton('signin')">Signin</div>
    <div class="signup-button"
         [style.background-color]="activeButton === 'signup' ? darkBlue : accentColor"
         (click)="setActiveButton('signup')">Signup</div>
  </div>
</div>
