<div class="left-menu-container">
  <div class="menu-background"></div>
  <div class="user-section">
      <img src="https://via.placeholder.com/72x72" alt="User Image">
      <div class="user-details">
          <span class="user-name">Sergio Riveros</span>
          <div class="user-country">
              <div class="country-icon"></div>
              <span>Colombia</span>
          </div>
      </div>
      <div class="notification-icon"></div>
  </div>
  <div class="menu-options">
      <div class="option">Notificaciones</div>
      <div class="option">Comentarios</div>
      <div class="option">Politica de privacidad</div>
      <div class="option">Salir</div>
  </div>
  <div class="signin-signup-section">
      <div class="signin-button">Signin</div>
      <div class="signup-button">Signup</div>
  </div>
  <div class="bottom-gradient"></div>
  <div class="horizontal-lines"></div>
</div>
