$light-blue: #5EB0EF;
$dark-blue: #0B68CB;
$border-color: #EEEEEE;
$text-color: #FBFDFF;
$accent-color: #96C7F2;

.left-menu-container {
    background: $light-blue;
    width: 361px;
    height: 850px;
    border: 1px $border-color solid;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 11;

    .user-section {
        position: absolute;
        width: 100%;
        top: 0;
        display: flex;
        align-items: center;
        padding-left: 5px;

        img {
            width: 72px;
            height: 72px;
        }

        .user-details {
            display: flex;
            flex-direction: column;
            margin-left: 8px;

            .user-name {
                color: $text-color;
                font-size: 18px;
            }

            .user-country {
                display: flex;
                align-items: center;
                color: $accent-color;

                .country-icon {
                    width: 20px;
                    height: 20px;
                    background: $accent-color;
                    margin-right: 4px;
                }
            }
        }

        .notification-icon {
            width: 24px;
            height: 24px;
            background: white;
            margin-left: auto;
            margin-right: 15px;
        }
    }

    .menu-options {
        position: absolute;
        width: 100%;
        top: 170px;

        .option {
            width: 100%;
            height: 85px;
            background: $light-blue;
            border: 1px $border-color solid;
            color: $text-color;
            font-size: 20px;
            line-height: 85px; // Vertically centers the text
            padding-left: 40px;

            &:active {
              background-color: darken($light-blue, 5%);
            }

            &:not(:last-child) {
                margin-bottom:0px;
            }
        }
    }

    .gradient-section {
      position: absolute;
      width: 100%;
      background: linear-gradient(180deg, #96C7F2 47.3%, rgba(183, 217, 248, 0.60) 100%);
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      top: calc(170px + (85px + 8px) * 4);  // Starting after .menu-options
      bottom: 70px;  // 56px height of signin-signup-section + 14px bottom margin

      &::before, &::after {
          content: "";
          position: absolute;
          left: 0;
          width: 100%;
          height: 1px;
          background: white;
      }

      &::before {
          top: calc(33.33% - 0.5px); // Positioning 1/3 from the top, offset by half the line height
      }

      &::after {
          top: calc(66.66% - 0.5px); // Positioning 2/3 from the top, offset by half the line height
      }
  }

    .signin-signup-section {
        position: absolute;
        width: 343px;
        height: 56px;
        bottom: 14px;
        left: 9px;
        display: flex;

        .signin-button, .signup-button {
            flex: 1;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            color: white;
            font-weight: 700;
            border-radius: 8px;

            &:first-child {
                background: $accent-color;
            }

            &:last-child {
                background: $dark-blue;
            }
        }
    }
}
